@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

:root {
  --primary-color: #3385ff;
  --primary-color-dark: #4d95ff;
  --secondary-color: #fafbfe;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #fff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  padding: 8rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.section__title {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
  text-align: center;
}

.section__subtitle {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--text-dark);
  margin-bottom: 4rem;
  text-align: center;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ------------------------------------------ */
/* Header                                     */
/* ------------------------------------------ */
a img {
  height: 4.5rem;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2.2rem 1rem;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  text-decoration: none;
  color: var(--extra-light);
  font-size: 1.5rem;
}

.nav__links {
  display: none;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.link {
  color: var(--extra-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: var(--primary-color-dark);
}

header {
  height: 100vh;
  background-image: linear-gradient(
    rgba(21, 25, 29, 0.7),
    rgba(27, 32, 37, 0.7)
    ),
    url("../img/banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .section__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--extra-light);
}

.header__content h1 {
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 5rem;
}

.header__content p {
  text-align: center;
  max-width: 570px;
}

button, input[type=button] {
  padding: 1.1rem 1.7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--extra-light);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover, input[type=button]:hover {
  background-color: var(--primary-color-dark);
  transform: translateY(-5px);
}

.header__content button {
  margin-top: 26px;
}

/* ------------------------------------------ */
/* Sections                                   */
/* ------------------------------------------ */
.journey__container {
  background-color: var(--secondary-color);
}

.journey__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.7rem;
}

.country__card {
  background-color: var(--extra-light);
  border-radius: 0.35rem;
  box-shadow: 0.6rem 0.2rem 0.6rem 0.2rem  rgb(0 0 0 / 0.03);
}

.country__card img {
  height: 280px;
  background-color: var(--extra-light);
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.country__name {
  padding: 2rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-light);
  cursor: pointer;
}

.hotel-name {
  display: flex;
  padding: 1.3rem 1.7rem 0.5rem;
}

.hotel-name h4 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.hotel-name p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: var(--text-light);
}

.rating {
  margin: 0rem 1rem 0 6rem;
}

.hotel-name .rating p {
  padding: 0 0.5rem;  
  color: var(--text-dark);
  background-color: #ffdf80;
  border-radius: 0.35rem;
}

.hotel-detail i {
  font-size: 1.5rem;
  color: var(--text-light);
  padding-left: 1.7rem;
}
.hotel-detail span {
  font-style: italic;
  gap: 0.5rem;
  color: var(--text-light);
}
.hotel-detail p {
  font-size: 1.3rem;
  padding: 1rem 1.7rem 1.7rem;
  color: var(--text-light);
}
.hotel-detail button {
  margin: 1rem 0 1.7rem 1.7rem;
}

.country__name i {
  font-size: 1.2rem;
}

.country__name span {
  font-style: italic;
}

.banner__container {
  background-image: linear-gradient(
      rgba(35 71 103 / 0.5),
      rgba(35 71 103 / 0.5)
    ),
    url("../img/beaches.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__container .section__container {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.banner__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--extra-light);
}

.banner__content h2 {
  font-size: 2rem;
  font-weight: 400;
}

.banner__content button {
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}


/*---------------------------------------------------------------*/
/*-------------------Content-------------------------------------*/
/*---------------------------------------------------------------*/

.flex {
  display: flex;
}

.gap-40 {
  gap: 40px;
}

.form-section {
  background-color: #fff;
}

.form-section .container {
  max-width: 1200px;
  margin-inline: auto;
}

.form {
  width: 100%;
}

form {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
}

form p {
  margin-bottom: 8px;
  color: #B31412;
}

input {
  height: 46px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.25s ease-in-out;
  width: 100%;
  background-size: 16px;
  border: 1px solid rgb(0 0 0 / 0.15);
}

input:focus {
  border: 1px solid rgb(0 0 0 / 0.25);
}

input + input {
  margin-top: 13px;
}

input[type=button] {
  width: 120px;
  margin-top: 0.5rem;
}

/* input[type=button] {
  width: 120px;
  color: #fff;
  text-align: center;
  background-color: #0067ff;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

input[type=button]:hover {
  background-color: #0057d8;
  transform: translateY(-5px);
} */

form textarea {
  width: 100%;
  height: 200px;
  padding: 15px 0 0 15px;
  border-radius: 5px;
  border: 1px solid rgb(0 0 0 / 0.15);
  margin: 13px 0 10px 0;
  resize: none;
  transition: all 0.25s ease-in-out;
}

form textarea:focus {
  border: 1px solid rgb(0 0 0 / 0.25);
}

.row + .row {
  margin-top: 20px;
}

.contact-form {
  width: 50%;
}

.form aside {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  height: auto;
  background-color: rgb(255 255 255 / 0.05);
}

.form aside iframe {
  width: 100%;
  height: 470px;
}

.form .container {
  flex-wrap: wrap;
}




.display__container {
  background-color: var(--secondary-color);
}

.display__container :is(.section__title, .section__subtitle) {
  color: var(--text-dark);
}

.display__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.display__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--extra-light);
  text-align: center;
}

.display__card i {
  font-size: 2rem;
  color: var(--primary-color);
}

.display__card h4 {
  font-size: 2rem;
  font-weight: 500;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__card p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__grid .grid-1 {
  grid-area: 1/1/3/3;
}

/* ------------------------------------------ */
/* Footer                                     */
/* ------------------------------------------ */
footer {
  background-color: var(--text-dark);
  color: var(--secondary-color);
}

footer .section__container {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social__icons i {
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

footer p {
  font-style: italic;
}

/* ------------------------------------------ */
/* Media Queries                              */
/* ------------------------------------------ */
@media (min-width: 640px) {
  .nav__links {
    display: flex;
  }

  header .section__container {
    justify-content: flex-start;
  }

  .header__content {
    max-width: 650px;
    align-items: flex-start;
  }

  .header__content p {
    text-align: left;
  }

  .journey__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.1rem;
  }

  .display__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .display__card {
    gap: 0;
  }

  .display__card i {
    font-size: 1.75rem;
  }

  .display__card h4 {
    font-size: 1rem;
  }

  .display__card p {
    font-size: 0.7rem;
  }
}

@media (min-width: 786px) {
  .banner__container .section__container {
    justify-content: flex-end;
  }

  .banner__content {
    align-items: flex-end;
    text-align: right;
    max-width: 800px;
  }

  .display__card {
    gap: 0.5rem;
  }

  .display__card i {
    font-size: 2.5rem;
  }

  .display__card p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .display__card {
    gap: 1rem;
  }

  .display__card i {
    font-size: 3rem;
  }

  .display__card h4 {
    font-size: 1.5rem;
  }

  .display__card p {
    font-size: 1rem;
  }
}
